body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa el 100% del alto de la pantalla */
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem; 
    background-color: #1a1a1a;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;

}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem; 
}
/* Media Queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 1rem; /* Reducimos el padding en móviles */
    }

    nav ul {
        flex-direction: column; /* Cambiamos a columna en móviles */
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0; /* Reducimos el margen entre elementos */
    }

    nav ul li a {
        font-size: 0.9rem; /* Reducimos el tamaño de la fuente */
    }
}

/* Media Queries para pantallas muy pequeñas (ej: smartphones pequeños) */
@media (max-width: 480px) {
    .navbar {
        padding: 0.5rem; /* Reducimos aún más el padding */
    }

    nav ul li {
        margin: 0.3rem 0; /* Reducimos el margen entre elementos */
    }

    nav ul li a {
        font-size: 0.8rem; /* Reducimos el tamaño de la fuente */
    }
}